/*html {
    font-size: 16px;
    margin-top: 10px;

}*/

body {
    font-family: inter;
    font-weight: 400;
    line-height: 24px;
    color: #55206D;
}

#logo {
    width: 177px;
    height: 48px;
    flex-shrink: 0;
}

#navbar {
    display: flex;
    padding-left: 106px;
    padding-top: 45px;
    padding-right: 105px;
    margin: 0 auto;


}

#home {
    color: #1F1F1F;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: 10px;
    margin-left: 112px;
    margin-right: 23px;
}

#services {
    color: #545454;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
}

#contact {
    color: #545454;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
}

#support {
    color: #545454;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
}


#sign-up {
    background-color: black;
    padding-top: 6px;
    padding-bottom: 14px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 14px;
    margin-left: 120px;
    border: darkgrey;
    border-style: solid;
    border-radius: 4px;
    cursor: pointer;
}

#sign-up a {
    text-decoration: none;
    color: white;
}

#nav-content {
    display: flex;
}
